@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Nunito", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 10rem;
}

.actionCall {
  position: absolute;
  right: 20px;
  top: 20px;
  color: green;
}

.actionCallMobile {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: green;
}

.actionCall:hover {
  color: green;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #9f8a59;
  border-radius: 4px;
}
