.main {
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.section {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** PAGES STYLES **/

.one {
  background: #fff;
}

.about {
  background: #9F8A59;
  padding: 0 11rem;
  @media(max-width: 999px) {
      padding: 0 2rem;
    }
}

.banner {
  max-width: 100%;
}

.three {
  background: #fff;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
}

.four {
  background: #DCD4C0;
  padding: 8rem 11rem;
}

.footer {
  background: #9F8A59;
  padding: 4rem 0;
  text-align: center;
  color: #fff;
}

.bg {

  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
  @media(max-width: 999px) {
    flex-direction: column;
  }
}

.image {
  @media(max-width: 999px) {
  display: none;
  }
}

.text {
  color: #fff;
  line-height: 1.5;
  height: 450px;
  overflow: auto;
  @media(max-width: 999px) {
      height: 100%;
      padding: 2rem 0;
    }
}

.cards {
  width: 100%;
  height: 80%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  gap: 2rem;

}

@media (max-width: 700px) {
  .cards {
    grid-template-columns: 80vw;
  }
}