.header {
  height: 100px;
  padding: 0 2rem;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    gap: 2rem;

    li {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.navIcon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  ul {
    display: flex;
    gap: 2rem;

    li {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.hamburger {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .isOpen {
    border: 1px solid #9f8a59;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    top: 100px;
    padding: 1rem;
    width: 90vw;
    text-align: center;
    opacity: 1;
    transition: transform 0.4s;
    ul > li:hover {
      border-bottom: 2px solid #9f8a59;
      margin-bottom: -2px;
      cursor: pointer;
    }
  }

  .isClose {
    position: absolute;
    top: 100px;
    margin-top: 0.5rem;
    height: calc(100% + 150px);
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(-100%);
  }
}
